body {
  min-height: 888px;
/*  padding-top: 90px; */
}

@media (min-width: 768px){
.container {
    width: 750px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
@media screen and (min-width: 1470px){
.container {
    width: 1440px;
}
}

.navbar-fixed-top {
    top: 0;
    border-width: 0;
	opacity: 0.9;
	background: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
/*	height: 70px; */
}

.navbar-default .navbar-nav>li>a.top-menu{
	font-family: Montserrat-Regular;
	font-size: 12px;
	color: #2B364E;
	letter-spacing: 3px;
	line-height: 18px;
	text-transform: uppercase;
	padding-right: 30px;
	padding-left: 30px;
}
.navbar-default .navbar-nav>li>a.top-menu-beta{
	font-family: Montserrat-Regular;
	font-size: 12px;
	color: #EB505C;
	letter-spacing: 3px;
	line-height: 18px;
	text-transform: uppercase;
	padding-right: 30px;
	padding-left: 30px;
}

.gr-sec-1{
	background-image: url("gr-sec-1.png");
	background-size: cover;
	height: 888px;
    padding-left: 15px;
    margin-left: -15px;
    position: relative;
}
.gr-sec-1-header{
/* Fitness that works f: */
	font-family: Montserrat-Bold;
	font-size: 64px;
	color: #2B364E;
	letter-spacing: 4px;
	line-height: 72px;
	text-transform: uppercase;
	top: 268px;
	left: 148px;
	width: 637px;
	position: absolute;
}
.gr-sec-1-text{
	/* GymRush connects Per: */
	font-family: NunitoSans-Regular;
	font-size: 20px;
	color: #2B364E;
	letter-spacing: 0.2px;
	line-height: 32px;
	top: 444px;
	left: 148px;
	width: 532px;
	position: absolute;
}
div.gr-sec-1-button{
	top: 594px;
	left: 148px;
	position: absolute;
}
button.gr-sec-1-button{
	background: #EB505C;
	border: 4px solid #EB505C;
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.16);
	border-radius: 3px;
	/* 19:32: */
	font-family: Montserrat-Bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 3px;
	line-height: 18px;
	width: 228px;
	height: 56px;
	text-shadow: none;
}
.gr-sec-1-img{
	top: 76px;
	left: 612px;
	position: absolute;
}

.gr-sec-2{
	background-image: url("gr-sec-2.png");
	background-size: cover;
	height: 1036px;
    padding-left: 15px;
    margin-left: -15px;
    position: relative;
}
.gr-sec-2-text{
	top: 180px;
	left: 148px;
	width: 532px;
	position: absolute;
}

.gr-sec-2-text-1{
	/* Trainers and Instruc: */
	font-family: Montserrat-Bold;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 3px;
	line-height: 18px;
	text-transform: uppercase;
}
.gr-sec-2-text-2{
	/* We’re crafting an ex: */
	font-family: Montserrat-Bold;
	font-size: 40px;
	color: #EB505C;
	letter-spacing: 4px;
	line-height: 48px;
	text-transform: uppercase;
	padding-top: 32px;
}
.gr-sec-2-text-3{
	/* Engineered to exist: */
	font-family: NunitoSans-Regular;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.4px;
	line-height: 32px;
	padding-top: 32px;
}
div.gr-sec-2-button{
	left: 148px;
	padding-top: 56px;
}
button.gr-sec-2-button{
	background: #EB505C;
	border: 4px solid #EB505C;
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.16);
	border-radius: 3px;
	/* 19:32: */
	font-family: Montserrat-Bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 3px;
	line-height: 18px;
	width: 320px;
	height: 56px;
	text-shadow: none;
}
.gr-sec-2-grp{
	width:492px;
}
div.gr-sec-2-text-4{
	/* Help build the futur: */
	font-family: NunitoSans-Regular;
	font-size: 14px;
	color: #EB505C;
	letter-spacing: 0;
	line-height: 24px;
	padding-top: 56px;
}
p.gr-sec-2-text-4{
    width: 434px;
    float: right;
}