include blocks/header

block content

section.block.section-8(data-speed="10" data-type="background")
	article.top-train
		p.section-header.section-header__dark TRAINERS AND INSTRUCTORS
		h1 WE’RE CRAFTING 
			br
			| AN EXPERIENCE FOR YOU. 
			br
			| IT’S CALLED RushPRO.
			picture.mobile
				source(srcset='img/section-8-crop.png', media="(min-width: 1024px)")
				img(srcset='img/section-8-crop.png')
		button.btn.btn__red.hide(data-opf-trigger="p2c116229f4" data-opf-trigger-guid="OPF_47593472-352b-cafc-604d-920b93fd6d6b") Sign-Up for  
			span.__ttn
				| RushPRO 
			| Beta
	section
		.img.img__trainer.hide
		article.white
			p.section-header.section-header__dark STOP SPINNING YOUR WHEELS
			h2 BUILD A HEALTHY,
				br
				| SUNSTAINABLE 
				br
				| PERSONAL TRAINING 
				br
				| BUSINESS, FASTER.
			p You’re starting out, or have been working with a local gym. You’ve 
				br
				|worked hard, invested the time, bent over backwards for your
				br
				| clients but haven’t seen the business-side results you hoped for.
			p There’s a better way. Enter RushPRO by GymRush.

section.block.section-9.trains
	section.trains--about
			.trains--about__left
			.trains--about__content
				h2.__ta-center WHAT CAN RushPRO 
					br
					| DO FOR YOU?
				br
				p.__ta-center.__font-light The perfect combination. RushPro for Trainers and Instructors 
					br
					|	resides within the GymRush app. It seamlessly works with 
					br
					|	Trainees who have logged in with RushLIVE - the trainee-oriented 
					br
					|	side of GymRush app. Trainees have 24/7 reporting, trainee 
					br
					|	analytics, messaging, booking appointments and more. All in the 
					br
					|	palm of your hand.
				.table
					.row
						.col.ok
							img(src="img/ok.png", alt="")
						.col.desc Connect and monitor your clients’ progress, 24/7.
					.row
						.col.ok
							img(src="img/ok.png", alt="")
						.col.desc Fractional commission fees compared to local gyms.
					.row
						.col.ok
							img(src="img/ok.png", alt="")
						.col.desc More control over your schedule.
					.row
						.col.ok
							img(src="img/ok.png", alt="")
						.col.desc Run your personal training business with your phone.
					.row
						.col.ok
							img(src="img/ok.png", alt="")
						.col.desc Everything in the cloud. All in one place.
			.trains--about__right

section.block.section-3(data-speed="10" data-type="background")
	.wrapper
		section.semi.semi__left.hide
			picture
				source(srcset='img/section-3.png', media="(min-width: 1024px)")
				img(srcset='img/section-3.png')
		section.semi.semi__right
			p.section-header.section-header__dark TRAINEES
			h2 ACHIEVE YOUR FITNESS GOALS BY CONNECTING WITH A RUSHPRO TRAINER.
			picture.mobile
				source(srcset='img/section-3.png', media="(max-width: 1024px)")
				img(srcset='img/section-3.png')
			p.__font-dark Are you an individual or group looking to improve your fitness? We’ve created an experience for you within GymRush app! It’s called RushLIVE, and we can’t wait to see what you do with it. Track your progress, connect with your RushPRO Trainer, and achieve your fitness goals with the ease and power of RushLIVE
			button.btn.btn__transparent.btn__full(data-opf-trigger="p2c116229f4" data-opf-trigger-guid="OPF_47593472-352b-cafc-604d-920b93fd6d6b") Sign-Up for  
				span.__ttn
					| RushPRO 
				| Beta

			article.description
				img.top-arrow(src="img/gr-sec-2-up.svg", alt="up")
				br
				p.__font-light
					| Help build the future of GymRush app. Sign up for the RushPro app closed beta testing group now. On approval, you’ll have early access to new builds and features, and have the opportunity to share your input and shape the future of the RushPRO experience and GymRush app

section.block.section-5
	h2.__ta-center WE’RE LOOKING FOR PERSONAL
		br
		| TRAINERS TO PARTICIPATE IN THE
		br
		| RushPRO BETA PROGRAM.
	button.btn.btn__red(data-opf-trigger="p2c116229f4" data-opf-trigger-guid="OPF_47593472-352b-cafc-604d-920b93fd6d6b") Sign-Up for  
		span.__ttn
			| RushPRO 
		| Beta
	p.section-header.section-header__light More information on the RushPRO Beta Program
	.testers
		article.testers--card.testers--card__left
			.testers--card--photo
				img(src="img/testers--card--photo.png", alt="")
			.testers--card--description__left
				span RUSHPRO IOS BETA 
				.clear
				h3 Kylie Muniz
				p.red Certified Personal Trainer
				p As a RushPRO Beta tester I get access to try the latest tech for managing and growing my personal training business. I’m thrilled to see what the team at GymRush are doing with the development of the app. definitely recommend signing up to apply to be a beta tester
		article.testers--card.testers--card__right
			.testers--card--description__right
				span RUSHPRO IOS BETA 
				.clear
				h3 Kylie Muniz
				p.red Certified Personal Trainer
				p As a RushPRO Beta tester I get access to try the latest tech for managing and growing my personal training business. I’m thrilled to see what the team at GymRush are doing with the development of the app. definitely recommend signing up to apply to be a beta tester
			.testers--card--photo
				img(src="img/testers--card--photo.png", alt="")
		article.testers--card.testers--card__left
			.testers--card--photo
				img(src="img/testers--card--photo.png", alt="")
			.testers--card--description__left
				span RUSHPRO IOS BETA 
				.clear
				h3 Kylie Muniz
				p.red Certified Personal Trainer
				p As a RushPRO Beta tester I get access to try the latest tech for managing and growing my personal training business. I’m thrilled to see what the team at GymRush are doing with the development of the app. definitely recommend signing up to apply to be a beta tester
	button.btn.btn__red(data-opf-trigger="p2c116229f4" data-opf-trigger-guid="OPF_47593472-352b-cafc-604d-920b93fd6d6b") Sign-Up for  
		span.__ttn
			| RushPRO 
		| Beta
	p.section-header.section-header__light More information on the RushPRO Beta Program

section#faq.block.section-6
	h2.__ta-center faq
	#tabs.faq
		ul
			li
				a.active(href='#tabs-1') TRAINERS
			li
				a(href='#tabs-2') TRAINEes
		#tabs-1
			.accordeon-js.accordeon
				.ac
					.ac_head How do I apply to become a Beta tester?
					.answer
						p answer 1.1
						p answer 1.2
						p answer 1.3
				.ac
					.ac_head What mobile app OS platforms are supported?
					.answer
						p answer 2.1
						p answer 2.2
						p answer 2.3
				.ac
					.ac_head How do I become a GymRush Ambassador?
					.answer
						p answer 3.1
						p answer 3.2
						p answer 3.3
				.ac
					.ac_head Is there a vetting or approval process associated with becoming a 
						br
						|  RushPRO Trainer?
					.answer
						p answer 3.1
						p answer 3.2
						p answer 3.3
				.ac
					.ac_head What’s the short and long term, feature and function game plan 
						br
						|  or roadmap for GymRush app?
					.answer
						p answer 3.1
						p answer 3.2
						p answer 3.3

		#tabs-2
			.accordeon-js.accordeon
				.ac
					.ac_head What’s the short and long term, feature and function game plan 
						br
						|  or roadmap for GymRush app?
					.answer
						p answer 3.1
						p answer 3.2
						p answer 3.3
				.ac
					.ac_head How do I become a GymRush Ambassador?
					.answer
						p answer 3.1
						p answer 3.2
						p answer 3.3
				.ac
					.ac_head What mobile app OS platforms are supported?
					.answer
						p answer 2.1
						p answer 2.2
						p answer 2.3
				.ac
					.ac_head How do I apply to become a Beta tester?
					.answer
						p answer 1.1
						p answer 1.2
						p answer 1.3
				.ac
					.ac_head Is there a vetting or approval process associated with becoming 
						br
						|  a RushPRO Trainer?
					.answer
						p answer 3.1
						p answer 3.2
						p answer 3.3

section#support.block.section-7(data-speed="10" data-type="background")
	.inner
		p.section-header.section-header__dark STAY IN TOUCH - SUBSCRIBE TO THE GYMRUSH NEWSLETTER
		h2 WE’RE CRAFTING AN EXPERIENCE JUST FOR YOU - RushPRO.
		form.feedback(action="#")
			input(type="text" placeholder="Name")
			input(type="text" placeholder="E-mail")
			input(type="submit" value="SUBSCRIBE TO GYMRUSH NEWS").btn.btn__red 
	
include blocks/footer 