//*****Mixins
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
        
size(width, height)
	width width
	height height

//*****Colors
red = #EB505C
red-hover = #BC4049
main-color = #2B364E
support-color = #1E2637
gray = #878788
lightgray = gray*1.3

//*****Animation
animation = all .5s ease